<style>
       
         
        h1 {
            color: rgb(122, 117, 18);
         }

         body {
            background-color: rgb(229, 250, 108);
        }
         h1 {
         font-family: broadway;
         }

        </style>

